/* this is my style sheet */
*{
  font-size: 100%;
  margin: 20px 50px 20px 50px;
  line-height: 3;
  box-sizng: border-box;
}

body {
background-color: White;
color: Black;
font-family: 'Arimo', sans-serif;
font-size: 20px;
margin: 50px;
}

header h1{
  text-align: center;
}

h1 {
  color: #1a5d02;
  font-size: 60px;
}

h2 {
  color: #1a5d02;
  font-size: 35px;
  text-align: center;
}

p {
line-height: 2;
text-align: center;
}

a {
  Color: #0ca706;
  font-size: 22px;
  text-decoration;: underline;
  margin: 0 auto;
}

div {
  margin: 0 auto;
}

.column {
  float: left;
  width: 23%;
  padding: 2px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

footer {
  text-align: right;
  font-size: 15px;
}
